<h2>Contact</h2>
<p>Dit zijn de reguliere massamediale netwerken en plekken waar je me kunt bereiken</p>
<p><i class="fab fa-linkedin"></i><a href="http://www.linkedin.com/in/frankmeeuwsen">www.linkedin.com/in/frankmeeuwsen</a></p>
<p><i class="fab fa-twitter"></i><a href="http://www.twitter.com/frankmeeuwsen">www.twitter.com/frankmeeuwsen</a></p>

<p>Maar natuurlijk zijn er ook genoeg <i>niche</i> netwerken waar je me eventueel kunt volgen of bereiken</p>

<p><i class="fab fa-mastodon"></i><a href="https://me.frankmeeuwsen.xyz/@frank">me.frankmeeuwsen.xyz/@frank</a> (federated netwerk)</p>
<p><i class="fab fa-github"></i><a href="https://github.com/frankmeeuwsen">github.com/frankmeeuwsen</a> (code)</p>
<p><i class="fas fa-running"></i><a href="https://runkeeper.com/user/oostloper/profile">Runkeeper.com</a> (hardlopen)</p>
<p><i class="fab fa-goodreads"></i><a href="https://www.goodreads.com/author/show/4066235.Frank_Meeuwsen">goodreads.com</a> (boeken)</p>
<p><i class="fab fa-reddit"></i><a href="https://www.reddit.com/user/thatinternetguyagain">Reddit.com</a> (communities)</p>
<p><i class="fab fa-untappd"></i><a href="https://untappd.com/user/frankmeeuwsen">Untappd.com</a> (bier)</p>


<p><span class="fa-stack fa-2x">
<i class="fab fa-facebook fa-stack-2x"></i>
<i class="fas fa-ban fa-stack-2x" style="color:Tomato"></i>
</span></p>
  