<h2>Contact</h2>
<p><i class="fab fa-linkedin"></i><a href="http://www.linkedin.com/in/frankmeeuwsen">www.linkedin.com/in/frankmeeuwsen</a></p>
<p><i class="fas fa-phone"></i><a href="tel:+31634796916">06 - 347 969 16</a></p>
<p><i class="fab fa-twitter"></i><a href="http://www.twitter.com/frankmeeuwsen">www.twitter.com/frankmeeuwsen</a></p>
<p><i class="fab fa-mastodon"></i><a href="https://me.frankmeeuwsen.xyz/@frank">me.frankmeeuwsen.xyz/@frank</a></p>
<p><i class="fab fa-github"></i><a href="https://github.com/frankmeeuwsen">github.com/frankmeeuwsen</a></p>

<p><span class="fa-stack fa-2x">
<i class="fab fa-facebook fa-stack-2x"></i>
<i class="fas fa-ban fa-stack-2x" style="color:Tomato"></i>
</span></p>
  