<!DOCTYPE html>
<html dir="ltr" lang="en" itemscope="" itemtype="http://schema.org/WebPage">
<meta charset="UTF-8">
<meta name="description" content="Frank Meeuwsen, de impact van technologie op mens en maatschappij.">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=5; user-scalable=yes">
<title>Frank Meeuwsen - de impact van technologie op mens en maatschappij</title>
{% include favicons.html%}
<meta name="application-name" content="frankmeeuwsen">
<link itemprop="URL" href="http://frankmeeuwsen.com">
<link rel="canonical" href="http://frankmeeuwsen.com">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="styles/style.css">
</head>
<body>

    {{ content }}

{% include networks.html %}
</body>
</html>
